[Unit]
Description=Samba DC and File Server
Wants=timescaledb.service get-certificate.service
After=timescaledb.service get-certificate.service

[Service]
Type=forking
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=/etc/nethserver/agent.env
EnvironmentFile=%S/state/environment
Restart=always
TimeoutStopSec=70
ExecCondition=bash -c '[[ -n "$$IPADDRESS" ]]'
# samba exits with 143 on SIGTERM:
SuccessExitStatus=143
ExecStartPre=/bin/rm -f %t/%N.pid %t/%N.cid
ExecStartPre=runagent bash -c "(echo -n DNS_FORWARDER= ; print-nameservers) > dns_forwarder.env"
ExecStart=/usr/bin/podman run \
    --dns=none \
    --no-hosts \
    --detach \
    --conmon-pidfile %t/%N.pid \
    --cidfile %t/%N.cid \
    --cgroups=no-conmon \
    --network=host \
    --hostname=${HOSTNAME} \
    --replace --name=%N \
    --env=REALM \
    --env=IPADDRESS \
    --env=PREFIXLEN \
    --env=NBDOMAIN \
    --env=SAMBA_LOGLEVEL \
    --env=SERVER_ROLE \
    --env=DNS1ADDRESS \
    --env=DNS2ADDRESS \
    --env=NBALIAS \
    --env-file=dns_forwarder.env \
    --env-file=timescaledb.env \
    --volume=data:/var/lib/samba:z \
    --volume=config:/etc/samba:z \
    --volume=shares:/srv/shares \
    --volume=homes:/srv/homes \
    --volume=./tls-certs:/var/lib/samba/private/tls:z \
    --init \
    ${SAMBA_DC_IMAGE}

# DC startup: wait until some TCP ports are ready (DNS, Kerberos, LDAP, Global catalog)
ExecStartPost=/usr/bin/bash -c "[[ $$SERVER_ROLE == member ]] || while ! exec 3<>/dev/tcp/${IPADDRESS}/53; do sleep 5 ; done"
ExecStartPost=/usr/bin/bash -c "[[ $$SERVER_ROLE == member ]] || while ! exec 3<>/dev/tcp/${IPADDRESS}/88; do sleep 5 ; done"
ExecStartPost=/usr/bin/bash -c "[[ $$SERVER_ROLE == member ]] || while ! exec 3<>/dev/tcp/${IPADDRESS}/389; do sleep 5 ; done"
ExecStartPost=/usr/bin/bash -c "[[ $$SERVER_ROLE == member ]] || while ! exec 3<>/dev/tcp/${IPADDRESS}/3268; do sleep 5 ; done"

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/%N.cid -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/%N.cid
ExecReload=-bash -c 'cd tls-certs ; umask 177 ; cat key.pem cert.pem > ca.pem ; touch -r cert.pem ca.pem'
PIDFile=%t/%N.pid
WorkingDirectory=%S/state

[Install]
WantedBy=default.target
